In [1]:
import pandas as pd

In [2]:
### loading dataframe and separating values with commas
df = pd.read_csv("./data/list_attr_celeba.txt", skiprows=2, header=None)
df = pd.DataFrame(df[0].str.split(" "))
df

                                                        0
0       [000001.jpg, -1, , 1, , 1, -1, -1, -1, -1, -1,...
1       [000002.jpg, -1, -1, -1, , 1, -1, -1, -1, , 1,...
2       [000003.jpg, -1, -1, -1, -1, -1, -1, , 1, -1, ...
3       [000004.jpg, -1, -1, , 1, -1, -1, -1, -1, -1, ...
4       [000005.jpg, -1, , 1, , 1, -1, -1, -1, , 1, -1...
...                                                   ...
202594  [202595.jpg, -1, -1, , 1, -1, -1, -1, , 1, -1,...
202595  [202596.jpg, -1, -1, -1, -1, -1, , 1, , 1, -1,...
202596  [202597.jpg, -1, -1, -1, -1, -1, -1, -1, -1, ,...
202597  [202598.jpg, -1, , 1, , 1, -1, -1, -1, , 1, -1...
202598  [202599.jpg, -1, , 1, , 1, -1, -1, -1, -1, -1,...

[202599 rows x 1 columns]

In [3]:
### remove double spaces in attributes list
for img in range(len(df)):
    for attr in df.iloc[img, 0]:
        if attr in ["", " "]:
            df.iloc[img, 0].remove(attr)

In [4]:
### generating new corrected dataframe
values = [df.iloc[i, 0][1:] for i in range(len(df))]
index = [df.iloc[j, 0][0] for j in range(len(df))]
attributes = pd.DataFrame(values, index=index)

In [8]:
attributes = attributes.replace(to_replace="-1", value=0).replace(to_replace="1", value=1)
attributes

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
000001.jpg,0,1,1,0,0,0,0,0,0,0,...,0,1,1,0,1,0,1,0,0,1
000002.jpg,0,0,0,1,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
000003.jpg,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
000004.jpg,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,1,0,1
000005.jpg,0,1,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202595.jpg,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,1
202596.jpg,0,0,0,0,0,1,1,0,0,1,...,0,1,1,0,0,0,0,0,0,1
202597.jpg,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
202598.jpg,0,1,1,0,0,0,1,0,1,0,...,0,1,0,1,1,0,1,0,0,1
202599.jpg,0,1,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,1,0,0,1

In [9]:
### saving corrected file
attributes.to_csv("./data/attr_formated.txt")